* {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 1024px;
    border:  thick double salmon;
    
}

div{
    margin: 0;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
    margin: 25px;
    display: flex;
}

header{
    width: 1024px;
    display: flex;
    margin-top: 25px;
    max-height: 200px;
    justify-content: center;
}


#profilepicture{
    width: 220px;

    border-right: 10px solid salmon;
    margin: 0px;
    margin-right: 15px;
}

header img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 90px;
    margin-left: 10px;
    
}

#intro{
    width: 600px;
    padding: 10px;
    margin-left: 10px;
}

#intro h1, h3, p{
    margin: 0;
    margin-left: 10px;
}

#intro h1{
    font-size: 44px;
    font-weight: 700;
    color: black;
}

#intro h3{
    font-size: 19px;
    font-weight: 500;
    color: #8f8d8b;
}

#intro p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    width: 85%;
    color: black;
}


main{
    width: 100%;
    flex-direction: column;
    border-top:  thick double salmon;
    margin-top: 45px;
}

#global-position{
    display: flex;
    flex-direction: column;
}

#Work-Formation{
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 15px;
    padding-top: 15px;
    border-right: 6px double salmon;
}

.work-title{
    margin: 0;
}

.work-title li{
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 300;
    
}



.work-title h6{
    margin: 0;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
}



.nom-date{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nom-date h5{
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.nom-date p{
    font-size: 12px;
    font-weight: 500;
}

.experience_name{
    margin: 0;
}

.experience_name h5{
    font-size: 15px;
    font-weight: 700;
}

.experience_name h6{
    font-size: 12px;
    font-weight: 500;
}



#Formations li{
    margin-left: 7px;
}

#Formations img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 90px;
    margin: 0;
    margin-right: 7px;
}

#Contact-Skills{
    margin: 0;
    position: absolute;
    right: 90px;
    top: 300px;
    
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0;
    gap: 2px;
    margin-bottom: 30px;
}

#contact h5{
    margin: 0;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
}

#contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

#contact p{
    margin: 0;
}

.github{
    display: flex;
}

#Skills{
    margin-bottom: 30px;
}

#Skills h5{
    margin: 0;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
}

#Skills p{
    margin: 0;
    margin-bottom: 5px;
}

#skill1{
    width: 175px;
    height: 7px;
    border-radius: 25px;
    background-color: salmon;
    margin: 0;
}

#skill2{
    width: 175px;
    height: 7px;
    border-radius: 25px;
    background-color: salmon;
    margin: 0;

}

#skill3{
    width: 155px;
    height: 7px;
    border-radius: 25px;
    background-color: salmon;
    margin: 0;
}


#Language h5{
    margin: 0;
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 700;
}



.langue h5{
    margin: 0;
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 700;
}

.langue p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.logo-contatc{
    display: flex;
}

.logo-contatc i{
    margin-right: 7px;
    font-size: 20px;
    color: salmon;
}

.logo-computer img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin: 0;
    margin-right: 15px;
}

.language-logo{
    display: flex;
}

.logo-language{
    display: flex;
    width: 300px;
    height: 150px;
    margin: 0;
    margin-bottom: 15px;
}

.logo-language p{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.logo-language img{
    width: 35px;
    height: 35px;
    border-radius: 90px;
    object-fit: cover;
    margin: 0;
}

.colonne{
    flex: 1;
}